<!-- <h5>Favorite Answers</h5>
{{#each favoriteList.favorites as |favorite|}}
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="chip">
          {{favorite.author}} {{favorite.date}}
        </div>
      </div>
      <div class="collapsible-body">
        <p>{{favorite.content}}</p>
      </div>
    </li>
  </ul>
{{/each}} -->

<div class="carousel">
  <h5>Favorites</h5>
  {{#each favoriteList.favorites as |favorite|}}
  <span class="carousel-item">
    <div class="card-panel">
      {{favorite.author}}
      {{favorite.date}}
      <p>{{favorite.content}}</p>
    </div>
  </span>
  {{/each}}
</div>
