{{#if addNewAnswer}}
  <h4>New Answer</h4>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <label for="author">Author</label>
          {{input value=author id="author"}}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="content">Answer</label>
          {{textarea value=content id="content" class="materialize-textarea"}}
        </div>
      </div>
      <button class="waves-effect waves-light green tooltipped btn "{{action 'saveAnswer'}}>Save</button>
        <!-- <button class="waves-effect waves-light blue tooltipped btn " {{action 'formHide'}}>Cancel</button> -->
    </form>
  </div>
{{else}}
  <!-- <button data-target="modal1" class="btn-floating btn-large btn tooltipped" data-position="right" data-delay="50" data-tooltip="Add New Answer"{{action 'answerFormShow'}}>New</button> -->
{{/if}}
