
<div class="row">
  <div class="col s12">
    <h5>Question: {{question.title}}</h5>
    <h5>By: {{question.author}}</h5>
    <p>Post date: {{question.date}}</p>
    <p>Detail: {{question.notes}}</p>
  </div>
  <br><br>
  <div class="col s6 offset-s12">
    <button class="btn-floating btn-large red delete" data-position="right" data-delay="50" data-tooltip="Delete Question" {{ action 'delete' question }}><i class="large material-icons">delete</i></button>
  </div>
</div>
<hr>
<h4>Answers:</h4>

{{#each sortedAnswers as |answer|}}
  <div class="section">
    {{answer-tile answer=answer increaseRating="increaseRating" decreaseRating="decreaseRating"}}
  </div>
  <div class="divider"></div>
{{/each}}
