{{#if updateQuestionForm}}
  <h4>Update {{question.author}}'s question</h4>
  <div class="row">
   <form class="col s12">
     <div class="row">
       <div class="input-field col s6">
         <label for="author">Author</label>
         <br>
         {{input value=author id="author" placeholder=question.author}}
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <label for="title">Question</label>
         <br>
         {{input value=title id="title" placeholder=question.title}}
       </div>
     </div>
     <div class="row">
      <div class="input-field col s12">
        <label for="notes">notes</label>
        <br>
        {{textarea value=notes id="notes" placeholder=question.notes class="materialize-textarea"}}
      </div>
    </div>
      <button class="waves-effect waves-light btn green" {{action 'update' question}}>Save</button>
      <button class="waves-effect waves-light btn green" {{action 'formHide'}}>Cancel</button>
   </form>
 </div>
{{else}}
    <button class="waves-effect waves-light btn blue" {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
