{{#if updateQuestionForm}}
  <h4>Update {{question.author}}'s question</h4>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <label for="author">Author</label>
          <br>
          {{input value=question.author id="author" placeholder=question.author}}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="title">Question</label>
          <br>
          {{input value=question.title id="title" placeholder=question.title}}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="notes">notes</label>
          <br>
          {{textarea value=question.notes id="notes" placeholder=question.notes class="materialize-textarea"}}
        </div>
      </div>
      <button class="btn-floating btn-large green" {{action 'update' question}}>Save</button>
      <button class="btn-floating btn-large blue" {{action 'formHide'}}>Cancel</button>
    </form>
  </div>
{{else}}
  <div class="row">
    <div class="col s6 offset-s12">
      <button class="btn-floating btn-large blue tooltipped" data-position="right" data-delay="50" data-tooltip="Edit Question"  {{action 'updateQuestionForm'}}><i class="large material-icons">mode_edit</i></button>
    </div>
  </div>
{{/if}}
