<h4>Welcome to Q and A</h4>

Ask question and get answers!!!
<h5>Questions</h5>
<ul>
  {{#each model.questions as |question|}}
    <h5>{{#link-to 'question' question.id}}{{question.title}}<br>{{question.author}}{{/link-to}}</h5>
  {{/each}}
</ul>
{{new-question saveQuestion="saveQuestion"}}

<h5>Answers</h5>

{{#each model.answers as |answer|}}
  <li>{{answer.author}}</li>
{{/each}}

{{new-answer saveAnswer="saveAnswer"}}
