<h4>More detail about {{model.author}}'s question:</h4>

{{update-question question=model update="update"}}

{{question-detail question=model destroyQuestion="destroyQuestion"}}
<div class="row">
  <div class="col s6 offset-s12">
    <button data-target="modal1" class="btn modal-trigger btn-floating btn-large">New</button>
  </div>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    {{new-answer saveAnswer="saveAnswer" question=model}}
  </div>
</div>



<!-- {{#each model.answers as |answer|}}
<div class="section">
  {{answer-tile answer=answer increaseRating="increaseRating" decreaseRating="decreaseRating"}}
</div>
<div class="divider"></div>
{{/each}} -->
