<h4>More detail about {{model.author}}'s question:</h4>
<!-- To delete -->
{{question-detail question=model destroyQuestion="destroyQuestion"}}
<br>
{{update-question question=model update="update"}}
<br>
{{new-answer saveAnswer="saveAnswer" question=model}}

{{#each model.answers as |answer|}}
  <li>{{answer-tile answer=answer}}</li>
{{/each}}
